* {
    font-family: 'Nunito Sans', sans-serif;
    cursor: crosshair;
}

body {
    background-color: #cd5c5c;
    min-height: 965px;
}

div {
    letter-spacing: 3px;
}

input#search {
    width: 430px;
}

button.gb {
    background: #32a852;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border: none;
}
button.bb {
    background: #4ca4cd;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border: none;
}

tahi {
    display: none;
}

bt {
    font-size: 50px;
}

mt {
    font-size: 15px;
}

h1#title {
    text-align: center;
    background-color: #1e90ff;
    color: #ffffff;
    border-radius: 20px;
}

div.section {
    background-color: #ffffff;
    width: 450px;
    height: 300px;
    border-radius: 25px;
    font-size: 50px;
}

div.section:hover {
    background-color: #afbacc;
    border: 2px solid #0d525c;
}

div.inner_section {
    text-align: center;
}

img.section_img {
    height: 100px;
    width: 100px;
}

img#404_img {
    height: 150px;
    width: 250px;
}

div[center] {
    text-align: center;
    margin: 0 auto;
}

h3 {
    color: #ffffff;
}

div[center] > * {
    margin: 0 auto;
}

a {
    color: #ffffff;
}

h2#404_msg {
    text-indent: 50px;
}

div.editions > img {
    height: 75px;
    width: 75px;
}
div.editions > img:hover {
    opacity: 0.6;
    height: 79px;
    width: 79px;
}

div#web_ttt > img {
    height: 75px;
    width: 75px;
}
div#web_ttt:hover > img {
    width: 79px;
    height: 79px;
    opacity: 0.6;
}

div#home > img {
    width: 85px;
    height: 85px;
}
div#home > img:hover {
    opacity: 0.8;
    width: 89px;
    height: 86px;
}

::selection {
    color: #e8b21e;
    background-color: #32a852;
}

::-moz-selection {
    color: #e8b21e;
    background-color: #32a852;
}

th {
    height: 100px;
    width: 200px;
    color: #ffffff;
    background-color: #0d525c;
    border: 1px solid #000000;
}

td {
    height: 100px;
    width: 200px;
    color: #ffffff;
    background-color: #4ca4cd;
    border: 1px solid #000000;
}
