h1, h2, h3, h4, p, a, b, i, form, button, img {
    font-family: "lucidia console", sans-serif, monospace;
    text-align: center;
    border-radius: 20px;
}
body {
    background-color: indianred;
}
h3 {
    color: black;
    letter-spacing: 2px;
}
h1 {
    letter-spacing: 15px;
    background-color: dodgerblue;
    height: 120px;
    color: white;
}
button {
    background-color: rgba(0, 120, 0, 10);
    fill: none;
    color: white;
    display: inline-block;
    border-radius: unset;
    border: none;
    height: 65px;
    width: 160px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    padding: 0;
    outline: none;
}
img.app {
    height: 150px;
    width: 150px;
    border-radius: 25px;
}
div {
    height: 750px;
    background-color: cornflowerblue;
    border-radius: 15px;
    text-align: center;

}
button:hover {
    opacity: 0.4;
}
a {
    color: black;
    background-color: unset;
    letter-spacing: 10px;
    text-decoration: none;
    font-family: "lucidia console", sans-serif, monospace;
}
a.li {
    text-decoration: darkgray underline;
}
h2 {
    background-color: olivedrab;
    height: 105px;
    color: white;
    text-align: center;
}
a.li:hover {
    color: darkgray;
    text-decoration-color: black;
}
img.pic {
    max-width: 255px;
    max-height: 255px;
}
div.blank {
    background-color: unset;
    height: unset;
    width: unset;
}
