body {
    background: #1e90ff;
    margin: 0;
}
div.center {
    text-align: center;
    margin: 0 auto;
}
#board {
    background: #cacfde;
    text-align: center;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    margin-top: 105px;
}
td {
    height: 244px;
    width: 244px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
}
#mt {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
#lm {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
#mb {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
#rm {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}
#m {
    border: 2px solid #000000;
}
iframe {
    margin: 0 auto;
    border: none;
    width: 800px;
    height: 800px;
}
img#back {
    width: 90px;
    height: 90px;
}
.action {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    border: unset;
    outline: 7px solid #32CD32;
    background: #32CD32;
    font-size: xx-large;
    text-align: center;
    width: 45px;
}
.action:hover {
    opacity: 0.6;
}